#banner-blog {
    display: flex;
    align-items: center;
    margin: 50px 210px 90px 240px;
}

#banner-blog div {
    width: 55%;
}

#banner-blog h1 {
    color: #009688;
    font-size: 47px;
    font-weight: 700;
}

#banner-blog p {
    color: #000;
    font-size: 20px;
    font-weight: 300;
}

#blog-posts {
    background-color: #F6F6F6;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.blog-post {
    text-align: left;
    width: 45%;
    margin-bottom: 100px;
}

.blog-post h2 {
    font-weight: 500;
    font-size: 30px;
    color: #FF4081;
}

.blog-post a {
    text-decoration: none;
}

.blog-post p {
    font-weight: 300;
    font-size: 17px;
    color: #000;
}

@media only screen and (max-width: 480px) {
    main {
        text-align: center;
        width: 100%;
    }
    
    #banner-blog {
        margin: auto;
        margin-bottom: 20px;
        flex-direction: column;
        width: 100%;
    }

    #banner-blog h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    #banner-blog p {
        margin-top: 0;
    }

    #banner-blog div {
        width: 100%;
    }

    #banner-blog img {
        display:none;
    }

    #blog-posts {
        flex-direction: column;
        padding: 40px 0;
        align-items: center;
    }
    
    .blog-post {
        width:90%;
        margin-bottom: 50px;
        text-align: center;
    }

    .blog-post img {
        width:100%;
    }
}


@media only screen and (min-width:480px) and (max-width: 768px) {
    main {
        text-align: center;
        width: 100%;
    }
    
    #banner-blog {
        margin: auto;
        margin-bottom: 20px;
        flex-direction: column;
        width: 100%;
    }

    #banner-blog h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    #banner-blog p {
        margin-top: 0;
    }

    #banner-blog div {
        width: 100%;
    }

    #banner-blog img {
        display:none;
    }

    #blog-posts {
        flex-direction: column;
        padding: 40px 0;
        align-items: center;
    }
    
    .blog-post {
        width:90%;
        margin-bottom: 50px;
    }

    .blog-post img {
        width:100%;
    }
}

@media only screen and (min-width:768px) and (max-width: 992px) {
    main {
        text-align: center;
        width: 100%;
    }
    
    #banner-blog {
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        flex-direction: row;
        width: 100%;
    }

    #banner-blog h1 {
        font-size: 40px;
        margin-bottom: 10px;
    }

    #banner-blog p {
        margin-top: 0;
    }

    #banner-blog div {
        width: 100%;
    }

    #banner-blog img {
        width: 250px;
    }

    #blog-posts {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 40px 0;
        align-items: center;
    }
    
    .blog-post {
        width:40%;
        margin-bottom: 50px;
    }

    .blog-post img {
        width:100%;
    }
}
