#class-summary {
    display: flex;
    justify-content: space-evenly;
    margin: 90px 100px;
}

#class-summary div {
    width: 45%;
}

#class-summary h1 {
    font-weight: 700;
    font-size: 55px;
    color: #FF4081;
    width: 80%;
}

#class-summary p {
    font-weight: 300;
    font-size: 20px;
    color: #000;
    width: 80%;
}

#class-summary img {
    max-width: 380px;
}

#lessons {
    background-color: #F6F6F6;
    padding-bottom: 30px;
}

.lesson {
    display: flex;
    justify-content: center;
    padding: 75px;
}

.lesson-video {
    margin-left: 100px;
    height: 50px;
}

.lesson-video video {
    width: 500px;
    text-align: center;
}

.lesson-summary {
    margin-left: 75px;
    margin-right: 100px;
}

.lesson-summary h2 {
    font-weight: 700;
    font-size: 35px;
    color: #FF4081;
    margin-top: 0;
}

.lesson-summary p {
    font-weight: 300;
    font-size: 20px;
    color: #000;
}

hr {
    height: 3px;
    background-color: #C4C4C4;
    border: none;
    width: 90%;
}

@media only screen and (max-width: 480px) {
    main {
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #class-summary {
        flex-direction: column;
        margin: auto;
        margin-bottom: 20px;
        width: 100%;
    }

    #class-summary div {
        width: 100%;
    }

    #class-summary div h1 {
        font-size: 40px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    #class-summary div p {
        margin: auto;
    }

    #class-summary img {
        display: none;
    }
    
    #lessons {
        padding: 40px;
    }

    .lesson {
        flex-direction: column;
        padding: 0;
        margin: 50px 0;
        align-items: center;
    }

    .lesson-video {
        margin: 0;
        height: auto;
    }

    .lesson-video video {
        width: 250px;
    }

    .lesson-summary {
        width: 100%;
        margin: auto;
    }
    
    .lesson-summary h2 {
        margin-bottom: 0;
    }

    .lesson-summary p {
        margin-top: 0;
    }
}

@media only screen and (min-width:480px) and (max-width: 768px) {
    main {
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #class-summary {
        flex-direction: column;
        margin: auto;
        margin-bottom: 20px;
        width: 100%;
    }

    #class-summary div {
        align-items: center;
    }

    #class-summary div h1 {
        font-size: 40px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    #class-summary div p {
        margin: auto;
    }

    #class-summary img {
        display: none;
    }
    
    #lessons {
        padding: 40px;
    }

    .lesson {
        flex-direction: column;
        padding: 0;
        margin: 50px 0;
        align-items: center;
    }

    .lesson-video {
        margin: 0;
        height: auto;
    }

    .lesson-video video {
        width: 250px;
    }

    .lesson-summary {
        width: 100%;
        margin: auto;
    }
    
    .lesson-summary h2 {
        margin-bottom: 0;
    }

    .lesson-summary p {
        margin-top: 0;
    }
}

@media only screen and (min-width:768px) and (max-width: 992px) {
    main {
        text-align: center;
        width: 100%;
        margin: 0;
    }

    #class-summary {
        flex-direction: row;
        margin: auto;
        margin-bottom: 20px;
        width: 100%;
        align-items: center;
    }

    #class-summary div {
        align-items: center;
    }

    #class-summary div h1 {
        font-size: 40px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
    }

    #class-summary div p {
        margin: auto;
    }

    #class-summary img {
        width: 250px;
        height: 250px;
        margin-right: 50px;
    }
    
    #lessons {
        padding: 40px;
    }

    .lesson {
        flex-direction: column;
        padding: 0;
        margin: 50px 0;
        align-items: center;
    }

    .lesson-video {
        margin: 0;
        height: auto;
    }

    .lesson-video video {
        width: 600px;
    }

    .lesson-summary {
        width: 100%;
        margin: auto;
    }
    
    .lesson-summary h2 {
        margin-bottom: 0;
    }

    .lesson-summary p {
        margin-top: 0;
    }
}