#summary-index {
    margin: 125px auto;
    display: flex;
    justify-content: space-evenly;
}

#summary-index img {
    max-height: 500px;
}

#summary-index-text {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

#summary-index-text h1 {
    color: #FF4081;
    font-size: 60px;
    margin-bottom: 0;
}

#summary-index-text p {
    font-weight: 400;
    font-size: 27px;
    color: #555555;
    margin: 38px auto;
}

#learn-more {
    text-decoration: none;
    color: #FF4081;
    font-size: 27px;
    border: 2px solid #FF4081;
    border-radius: 62px;
    width: 268px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features-title {
    background-color: #F6F6F6;
    text-align: center;
    margin: 0;
    padding-top: 10px;
}

#features {
    background-color: #F6F6F6;
    padding: 100px;
    display: flex;
    justify-content: space-around;
}

.feature {
    text-align: center;
}

.feature img {
    max-height: 270px;
}

.features-title h1 {
    color: #FF4081;
    font-size: 50px;
}

.feature h2 {
    color: #FF4081;
    font-size: 25px;
}

.feature p {
    color: #000;
    font-size: 17px;
    margin-bottom: 35px;
    width: 300px;
}

.start-now {
    text-decoration: none;
    color: #FFF;
    background-color: #FF4081;
    font-size: 20px;
    border-radius: 62px;
    padding: 15px 50px;
}

#opinions-index {
    margin: 100px 128px;
}

#opinions-index h2 {
    color: #009688;
    font-size: 37px;
    margin-bottom: 80px;
}

#opinions-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 100px;
}

.opinion {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.opinion img {
    max-height: 104px;
}

.client-opinion {
    font-weight: 300;
    margin: 0;
    width: 370px;
}

.client-name {
    font-weight: 400;
    margin-top: 10px;
    margin-bottom: 0;
}

#more-index {
    background-color: #F6F6F6;
    padding-top: 30px;
}

#more-index h2 {
    color: #009688;
    font-size: 37px;
    margin: 50px 128px;
}

#more-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.content-box {
    display: flex;
    flex-direction: column;
    text-align: left;    
    width: 319px;
    font-size: 18px;
    margin: 0;
    padding: 0;
}

.content-text {
    margin: 0;
    padding: 0;
}

.content-title {
    font-weight: 700;
    font-size: 24px;
    padding: 0;
    margin: 10px 0px 0px 0px;
}

.content-title a {
    color: #009688;
    text-decoration: none;
}

#more-button {
    display: flex;
    justify-content: center;
}

#more-posts {
    margin: 110px 0 70px 0;
    text-decoration: none;
    color: #FF4081;
    font-size: 27px;
    border: 2px solid #FF4081;
    border-radius: 62px;
    width: 289px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 480px) {
    main {
        margin: 0;
        width: 100%;
    }
    
    #summary-index {
        margin: 0;
        width: 100%;
        margin-bottom: 50px;
    }

    #summary-index img {
        display: none;
    }

    #summary-index-text {
        text-align: center;
        align-items: center;
    }

    #summary-index-text h1 {
        font-size: 50px;
        margin-bottom: 0;
    }

    #learn-more {
        font-size: 20px;
        width: auto;
        padding: 10px;
    }

    #features {
        flex-direction: column;
        padding: 50px 0 0 0;
        margin: auto;
        align-items: center;
    }

    #features-box {
        padding-bottom: 0px;
    }

    #features-box h1 {
        font-size: 40px;
    }

    .feature {
        margin-bottom: 100px;
        width: 100%;
    }

    .feature p {
        width: 90%;
        margin: auto;
        margin-bottom: 30px;
    }

    .feature img {
        width: 80%;
    }

    #opinions-index {
        margin: auto;
        padding: 0 0 50px 0;
        width: 80%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    #opinions-index h2 {
        margin-bottom: 50px;
    }

    .opinion {
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    .opinion-text p {
        width: 100%;
        margin: 0;
    }

    #opinion-boxes {
        text-align: center;
        justify-content: center;
    }

    #more-index {
        padding-top: 50px;
        padding-bottom: 0px;
        text-align: center;
    }

    #more-index h2 {
        margin: 0;
        margin-bottom: 50px;
    }
    
    #more-content {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .content-box {
        margin-bottom: 50px;
        margin-left: 0;
        width: 90%;
        text-align: center;
    }

    .content-box img {
        width: 90%;
    }

    #more-posts {
        margin-top: 0;
    }

    #more-button {
        width: 80%;
        margin: auto;
    }

    #more-button a {
        font-size: 20px;
    }
}

@media only screen and (min-width:480px) and (max-width: 768px) {
    main {
        margin: 0;
        width: 100%;
    }
    
    #summary-index {
        margin: 0;
        width: 100%;
        margin-bottom: 50px;
    }

    #summary-index img {
        display: none;
    }

    #summary-index-text {
        text-align: center;
        align-items: center;
    }

    #summary-index-text h1 {
        font-size: 50px;
        margin-bottom: 0;
    }

    #features {
        flex-direction: column;
        padding: 50px 0 0 0;
                margin: auto;
        align-items: center;
    }

    #features-box {
        padding-bottom: 0px;
    }

    #features-box h1 {
        font-size: 40px;
    }

    .feature {
        margin-bottom: 100px;
    }

    .feature img {
        width: 80%;
    }

    #opinions-index {
        margin: auto;
        padding: 0 0 50px 0;
        width: 80%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    #opinions-index h2 {
        margin-bottom: 50px;
    }

    .opinion {
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    #opinion-boxes {
        text-align: center;

    }

    #more-index {
        padding-top: 50px;
        padding-bottom: 0px;
        text-align: center;
    }

    #more-index h2 {
        margin: 0;
        margin-bottom: 50px;
    }
    
    #more-content {
        flex-direction: column;
        align-items: center;
    }

    .content-box {
        margin-bottom: 50px;
    }

    #more-posts {
        margin-top: 0;
    }
}

@media only screen and (min-width:768px) and (max-width: 992px) {
    main {
        margin: 0;
        width: 100%;
    }
    
    #summary-index {
        margin: 0;
        width: 100%;
        margin-bottom: 50px;
        align-items: center;
    }

    #summary-index img {
        width: 250px;
        height: 250px;
    }

    #summary-index-text {
        text-align: center;
        align-items: center;
    }

    #summary-index-text h1 {
        font-size: 50px;
        margin-bottom: 0;
    }

    #features {
        flex-direction: row;
        flex-wrap: wrap;
        padding: 50px 0 0 0;
        margin: auto;
        align-items: center;
    }

    #features-box {
        padding-bottom: 0px;
    }

    #features-box h1 {
        font-size: 40px;
    }

    .feature {
        margin-bottom: 100px;
    }

    .feature img {
        width: 80%;
    }

    #opinions-index {
        margin: auto;
        padding: 0 0 50px 0;
        width: 80%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    #opinions-index h2 {
        margin-bottom: 50px;
    }

    .opinion {
        flex-direction: column;
        margin: 0;
        width: 40%;
    }

    #opinion-boxes {
        text-align: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1000px;
    }

    #more-index {
        padding-top: 50px;
        padding-bottom: 0px;
        text-align: center;
    }

    #more-index h2 {
        margin: 0;
        margin-bottom: 50px;
    }
    
    #more-content {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .content-box {
        margin-bottom: 50px;
    }

    #more-posts {
        margin-top: 0;
    }
}
